html {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

:root {
    --var1: #FAFAFA;
    --var2: #F9E66B;
    --var3: #F7E7A3;
    --var4: #DC1A0B;
    --var5: #EE8116;
}

body {

    color: white;
    margin: 0;

    min-height: 100%;
}

p {
    font-weight: 600;
}


@keyframes bob {
    0% {
        transform: translateY(0rem);
    }

    25% {
        transform: translateY(0.25rem);
    }

    50% {
        transform: translateY(-0.25rem);
    }

    75% {
        transform: translateY(0.25rem);
    }

    100% {
        transform: translateY(0rem);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(0rem);
    }
}

.navbar {
    font-weight: 600;
    z-index: 999;
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: right;
    align-items: center;
  
}

#progressbar{
    content: "";
    background-image: linear-gradient(to left, var(--var5), var(--var3));
    width: 100%;
    position:absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
}

#hamburger{
    position:fixed;
    right: 0.2rem;
    top:0.2rem;
    z-index: 1000;
    display: none;
    fill: white;
    transition: fill 1s;
}

.navbar ul {
    padding: 0 2rem;
}

.navbar li {
    position: relative;
    display: inline-block;
    padding: 0 1.4rem;
    cursor: pointer;
    user-select: none;
}

.navbar a {
    text-decoration: none;
    color: white;
    background-origin: content-box;
    padding-bottom: 0.2rem;
    background:
        linear-gradient(to right, white, white);
    background-size: 0 0.2rem, 0 0.2rem;
    background-position: 0 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.navbar a:hover {
    background-size: 100% 0.2rem, 0 0.2rem;
    color: var(--var4);
}



.container {

    padding: 3rem 13vw 0 13vw;
    background-color: var(--var4);

}

.landingpage {
    background-color: white;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: inherit;
    height: 98vh;
    margin: 0 -13vw;
    position: relative;
}



.landingpage * {
    color: rgb(33, 33, 33);
}

.landingpage h1 {
    font-size: 9rem;
    line-height: 8rem;
    user-select: none;
}

.toptext {
    display: flex;
    position: relative;
    z-index: 99;
}

.toptext::before {
    content: "I am";
    font-weight: 900;
    position: absolute;
    font-size: 1.5rem;
    left: -4rem;
    background-color: var(--var4);
    padding: 1rem;
    z-index: -1;
    color: white;
}


.landingpage svg {
    height: 5rem;
    width: auto;
    margin-top: 5rem;
    animation-name:bob;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.landingpage svg:hover{
    animation-play-state: paused;
    cursor:pointer;
}


.bottomtext {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: -2.5rem;
    z-index: 99;
}

.bottomtext * {
    background-color: rgb(33, 33, 33);
    margin: 0.3rem 0;
    padding: 0.5rem 1rem;
    color: white;
    transition: transform 200ms;
}

.bottomtext *:hover{
    transform: translateX(0.5rem);
}




.bottomtext :last-child,
.bottomtext :first-child {
    background-color: var(--var4);
    width: fit-content;
}




.landingpage::after {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("misc/welcomebackground.png");
    background-size: 100% auto;
    background-position: center;
    width: 100%;
    opacity: 50%;
    height: 100%;
    content: "";
    background-repeat: no-repeat;
    animation: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.main {
    width: 100%;
    display: flex;

    justify-content: center;
}

.name {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    color: white;
    flex-direction: column;
    z-index: 2;
}


.name h1 {
    margin: 0;
}



.content {
    height: 100%;
}

.containerp1 {
    display: flex;

}


.aboutpage {
    display: flex;
    padding: 5rem 0;
    min-height: 20rem;
    justify-content: center;
    position: relative;


}


.aboutpage::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("misc/aboutbackground.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 80% auto;
    content: "";

}



.trail {
    width: 0%;
    height: 3px;
    background-color: white;
    margin: 0 2rem;
    transition: width 2s;
}

.trail.inview{
    width:100%;
}

.aboutdescription {
    max-width: 40rem;
    z-index: 99;
}

h1 {
    font-size: 4.5rem;
    color: white;
}


.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50rem;
    margin: 5rem -13vw;
    padding: 3rem 0;
    background-color: white;
    color: rgb(33, 33, 33);

}

.skillcontainer {
    padding: 3rem 13vw 0 13vw;
    display: flex;
    flex-direction: column;
}

.skills::after {

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("misc/skillsbackground.png");
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50% auto;
    content: "";

}

.skills::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("misc/contactbackground.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 30% auto;
    content: "";

}

.trail.black {
    background-color: rgb(33, 33, 33);

}

.skilldescription {
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1.5rem;
    flex-wrap: wrap;
    z-index: 99;
}




.skilldisplay {
    border: 1px solid rgb(33, 33, 33);
    display: flex;
    width: 15rem;
    height: 15rem;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;


    box-shadow: 0 0 5px rgb(33, 33, 33);
    z-index: 99;
}

.skilldisplay * {
    margin: 0.25rem 0;
}


.skilldisplay svg {
    height: 90px;
    width: 90px;
    padding: 0.5rem
}

.misc {
    width: 100%;
    height: fit-content;
    text-align: center;
}

.projects {
    position: relative;
}

.projects h1 {
    position: relative;
    z-index: 99;
    line-height: 4rem;

}

.languages::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("misc/projectbackground2.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 80% auto;
    content: "";
}

.languages::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("misc/languages.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 60%;
    content: "";
}

.heading {
    display: flex;
    align-items: center;
}

.heading .trail {
   
    z-index: 99;
}

.projectcontainer {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 6;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}


.projects::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("misc/projectbackground2.png");
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 80% auto;
    content: "";

}


.projects::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("misc/projectbackground.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 60% auto;
    content: "";

}

.projectdisplay {
    width: inherit;
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap-reverse;
    height: 19rem;
    z-index: 8;


}

.projectdisplay .projecttext {
    width: 20rem;
    position: relative;
    z-index: 2;

}

.projectdisplay p {
    font-weight: 400;
}

.projectdisplay .stack {
    display: flex;
}

.projectdisplay .actions{
    position: absolute;
    bottom: 1rem;
    
}

.projectdisplay .actions img{
    transition:transform 500ms;
}

.projectdisplay .actions img:hover{
    cursor: pointer;
    transform: translateY(0.2rem);
}

.projectdisplay .projecttext .smallimage img {
    display: none;
    height: auto;
    width: calc(100% + 2rem);
    margin: -0.5rem -1rem;
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-animation: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.projectdisplay .projecttext img {
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
}

.projectdisplay .projectimage img {
    height: calc(19rem + 5px);
    margin: 0;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-animation: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.projectdisplay .projectimage.right img {
    height: calc(19rem + 2px);
    margin: 0;
    -webkit-filter: brightness(70%);
    margin-left: 2rem;
}

.projectdisplay .projectimage img:hover {
    -webkit-filter: brightness(100%);

}

.textbox {
    border: 2.5px solid white;
    width: 20rem;
    font-weight: 100;
    padding: 0.5rem 1rem;
    height: 18rem;
}

.contact {
    position: relative;
    min-height: 40rem;
    margin: 5rem -13vw;
    padding: 3rem 0;
    color: rgb(33, 33, 33);
    background-color: white;
}

.contact::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("misc/finalbackground.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 40% auto;
    content: "";

}

.contact::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("misc/thanks.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 80%;
    content: "";
}

.contact h1 {
    color: rgb(33, 33, 33);
}

.contact .skillcontainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.contact .skilldisplay {
    width: 7rem;
    height: 7rem;
    margin: 0 1rem;
    transition: transform 400ms;
}

.contact .skilldisplay:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.contactcontainer {
    display: flex;
    flex-direction: column;
}

.contacttext {

    flex-direction: column;
    align-self: center;
    display: flex;
    max-width: 40rem;
    padding: inherit;
}



.footer {

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    width: inherit;
    margin: -5rem -13vw;

}



.outercontainer {
    margin: 5rem -13vw;

}

.innercontainer {
    padding: 3rem 13vw 3rem 13vw;

}

.right {
    border-left: none;
}

.left {
    border-right: none;
}
.navbar ul.menuopen{
    visibility: visible;
    opacity: 1;
}

#hamburger.menuopen{
    fill: var(--var4);
}

@media only screen and (max-width:675px) {
 
 

    .landingpage::after {
        background-size: auto 50%;
    }

    .contacttext {
        width: 100%;
    }
    .navbar{
        justify-content: center;
    }
    #hamburger{
        display:block;
        cursor: pointer;
    }

    .navbar a{
        padding:0.7rem 0;
    }

    .navbar ul{
        align-items: center;
        background-color: var(--var4);
        width: 100vw;
        padding: 1rem 0;
        transform: translateY(8.9rem);
        display: flex;
        visibility: hidden;
        opacity: 0;
        transition: all 1s;
        flex-direction: column;
    }

    .navbar li{
        margin: 0.7rem 0;
    }

    .navbar a:hover{
        color: rgb(33, 33, 33);
    }
    .contact .skilldisplay {
        width: 4.5rem;
        height: 4.5rem;
        margin: 0 1rem;
    }


    .landingpage h1 {
        line-height: 4.5rem;
        font-size: 5rem;
        
    }

    .landingpage p {
        font-size: 0.8rem;
    }

    .landingpage h2 {
        font-size: 0.9rem;
    }

    .toptext::before {
        left: 0;
        top: -2.2rem;
        font-size: 1rem;
    }

    .landingpage svg {
        height: 2rem;
    }


    .textbox {
        width: 17rem;
    }

    h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width:1225px) {
    .projectdisplay {
        height: auto;
    }


    .textbox {

        height: auto;
        border: 1px solid white;
    }

    .projectimage {
        display: none;
    }


    .projectdisplay .projecttext .smallimage img {
        display: block;
        overflow: hidden;


    }

    .projectdisplay .actions{
        position: relative;
        bottom:0;
    }

    .projectdisplay .projecttext .smallimage img:hover {
        -webkit-filter: brightness(90%);

    }

    .contacttext p {
        padding: inherit;
    }
}

@media only screen and (min-width:873px) {
    .landingpage::after {
        background-size: auto 90%;
    }
}