html {
    font-family: 'Roboto', sans-serif;
}

:root {
    --var1: #FAFAFA;
    --var2: #F9E66B;
    --var3: #F7E7A3;
    --var4: #DC1A0B;
    --var5: #EE8116;
}

body {
    background-color: #9E9E9E;
    color: white;

}


.diagonal1 {
    width: 50rem;
    height: 10rem;
    background-image: linear-gradient(to top, var(--var2), white);
    transform: skewY(30deg);
    position: absolute;
    right: 3vw;
    z-index: 1;
}

.diagonal2 {
    width: 50rem;
    height: 10rem;
    background-image: linear-gradient(to right, var(--var3), #BC261E);
    transform: skewY(50deg);
    position: absolute;
    right: 3vw;
    z-index: 0;
}

.navbar {
    font-weight: 600;
    z-index: 999;
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: right;

}

.navbar ul {
    padding: 0 2rem;
}

.navbar li {
    display: inline-block;
    padding: 0 1.4rem;
}

.container {
    margin: 0 2vw;
    padding: 3rem 13vw 0 13vw;
    background-color: #DC1A0B;
    
    box-shadow: 0 1rem 1rem rgb(33, 33, 33);
}

.landingpage {
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
    width: inherit;
    min-height: 95vh;
}

.main{
    width:100%;
    display: flex;
  
    justify-content: center;
}

.name {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    color: white;
    z-index: 2;
}

.fullstop {
    align-self: flex-end;
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 50%;
}

.name h1 {
    margin: 0;
}

.name h2 {
    padding-top: 1.6rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.content {
    height: 100%;
}

.containerp1 {
    display: flex;
}

.rightdec {
    margin-left: 1rem;
    display: flex;
    height: inherit;
    width: 100%;
    justify-content: left;
    align-items: flex-end;
}

.aboutpage {
    display: flex;
    padding: 5rem 0;
    min-height: 20rem;
    justify-content: center;
    position: relative;

}
.aboutpage::before{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/aboutbackground.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 80% auto;
    content: "";
   
}

.aboutheading {
    display: flex;
    align-items: center;
}

.trail {
    width: 50%;
    height: 2px;
    background-color: white;
    margin: 0 2rem;
}

.aboutdescription {
    max-width: 40rem;
    z-index: 99;
}

h1 {
    font-size: 3rem;
    color: var(--var2);
}

.divider {
    margin: 3rem 0;
    width: 100%;
    height: 2px;
    background-color: white;

}

.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30rem;
}

.skills::before{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/skillsbackground.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 80% auto;
    content: "";
   
}


.skilldescription {
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1.5rem;
    flex-wrap: wrap;
    z-index: 99;
}






.skilldisplay {
    border: 1px solid white;
    flex-basis: 1;
    display: flex;
    width: 15rem;
    height: 15rem;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
   
    box-shadow: 0 0 5px rgb(33, 33, 33);
    z-index: 99;
}

.skilldisplay *{
    margin: 0.25rem 0;
}

.skilldisplay img {
    height: 90px;
    width: 90px;
    padding: 0.5rem
}

.projects {
    position: relative;
}

.projects h1 {
    position: relative;
    z-index: 99;

}



.projectcontainer {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 6;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}


.projects::before{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/projectbackground2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 80% auto;
    content: "";
   
}


.projectcontainer::after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/projectbackground.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 80% auto;
    content: "";
   
}

.projectdisplay {
    width: inherit;
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap-reverse;
    height: 19rem;
    z-index: 8;
}

.projectdisplay .projecttext {
    width: 20rem;
    position: relative;
    z-index: 2;

}

.projectdisplay .stack {
    display: flex;
}

.projectdisplay .actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.projectdisplay .projecttext .smallimage img {
    display: none;
    height: auto;
    border-radius: 2rem 2rem 0 0;
    width: calc(100% + 2rem);
    margin: -0.5rem -1rem;
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-animation: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.projectdisplay .projecttext img {
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
}

.projectdisplay .projectimage img {
    height: calc(19rem + 2px);
    margin: 0;
    border-radius: 2rem 0 0 2rem;
    -webkit-filter: brightness(70%);
}

.projectdisplay .projectimage.right img {
    height: calc(19rem + 2px);
    margin: 0;
    border-radius: 0 2rem 2rem 0;
    -webkit-filter: brightness(70%);
    margin-left: 2rem;
}

.projectdisplay .projectimage img:hover {
    -webkit-filter: brightness(90%);
    -webkit-transition: all 1s ease;
    -moz-animation: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.textbox {
    border: 1px solid white;
    width: 20rem;
    font-weight: 100;
    padding: 0.5rem 1rem;
    height: 18rem;

}

.right{
    border-radius: 0 2rem 2rem 0;
    border-left: none;
}

.left{
    border-radius: 2rem 0 0 2rem;
    border-right: none;
}

@media only screen and (max-width:1225px) {
    .projectdisplay  {
        height:auto;
    }


    .textbox{
     
        border-radius: 2rem;
        height: auto;
        border: 1px solid white;
    }
    .projectimage{
        display: none;
    }

 
    .projectdisplay .projecttext .smallimage img{
        display: block;
        overflow: hidden;

        
    }
    .projectdisplay .projecttext .smallimage img:hover{
        -webkit-filter: brightness(90%);

    }
}