html {
    font-family: 'Roboto', sans-serif;
}

:root {
    --var1: #FAFAFA;
    --var2: #F9E66B;
    --var3: #F7E7A3;
    --var4: #DC1A0B;
    --var5: #EE8116;
}

body {
    background-color: var(--var4);
    color: white;
    margin: 0;
    
}
p{
    font-weight: 600;
}


.diagonal1 {
    width: 50rem;
    height: 10rem;
    background-image: linear-gradient(to top, var(--var2), white);
    transform: skewY(30deg);
    position: absolute;
    right: 3vw;
    z-index: 1;
}

.diagonal2 {
    width: 50rem;
    height: 10rem;
    background-image: linear-gradient(to right, var(--var3), #BC261E);
    transform: skewY(50deg);
    position: absolute;
    right: 3vw;
    z-index: 0;
}

.navbar {
    font-weight: 600;
    z-index: 999;
    width: 100%;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(33, 33, 33);
    display: flex;
    justify-content: right;

}

.navbar ul {
    padding: 0 2rem;
}

.navbar li {
    display: inline-block;
    padding: 0 1.4rem;
}

.container {
 
    padding: 3rem 13vw 0 13vw;
    background-color: #DC1A0B;
 
}

.landingpage {
    display: flex;
    align-items: center;
    padding-bottom: 3rem;
    width: inherit;
    min-height: 95vh;
}

.main {
    width: 100%;
    display: flex;

    justify-content: center;
}

.name {
    width: 100%;
    margin-top: 6rem;
    display: flex;
    color: white;
    z-index: 2;
}

.fullstop {
    align-self: flex-end;
    height: 3rem;
    width: 3rem;
    background-color: white;
    border-radius: 50%;
}

.name h1 {
    margin: 0;
}

.name h2 {
    padding-top: 1.6rem;
    writing-mode: vertical-rl;
    white-space: nowrap;
}

.content {
    height: 100%;
}

.containerp1 {
    display: flex;
}

.rightdec {
    margin-left: 1rem;
    display: flex;
    height: inherit;
    width: 100%;
    justify-content: left;
    align-items: flex-end;
}

.aboutpage {
    display: flex;
    padding: 5rem 0;
    min-height: 20rem;
    justify-content: center;
    position: relative;
  
    
}

.aboutpage::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/aboutbackground.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 80% auto;
    content: "";

}



.trail {
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 0 2rem;
}

.aboutdescription {
    max-width: 40rem;
    z-index: 99;
}

h1 {
    font-size: 4.5rem;
    color: white;
}


.skills {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 50rem;
    margin: 5rem -13vw;
    padding: 3rem 0;
    background-color: white;
    color:rgb(33,33,33);
    
}

.skillcontainer{
    padding: 3rem 13vw 0 13vw;
    display: flex;
    flex-direction: column;
}

.skills::after {
    
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/skillsbackground.png);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 50% auto;
    content: "";

}

.skills::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/contactbackground.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 30% auto;
    content: "";

}

.trail.black{
    background-color: rgb(33, 33, 33);
    
}

.skilldescription {
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    gap: 1.5rem;
    flex-wrap: wrap;
    z-index: 99;
}




.skilldisplay {
    border: 1px solid rgb(33, 33, 33);
    display: flex;
    width: 15rem;
    height: 15rem;
    flex-direction: column;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    

    box-shadow: 0 0 5px rgb(33, 33, 33);
    z-index: 99;
}

.skilldisplay * {
    margin: 0.25rem 0;
}


.skilldisplay svg {
    height: 90px;
    width: 90px;
    padding: 0.5rem
}

.misc{
    width: 100%;
    height: fit-content;
    text-align: center;
}

.projects {
    position: relative;
}

.projects h1 {
    position: relative;
    z-index: 99;
    line-height: 4rem;

}

.languages::before{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/projectbackground2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 80% auto;
    content: "";
}

.languages::after{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/languages.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: auto 60%;
    content: "";
}

.heading{
    display: flex;
    align-items: center;
}

.heading .trail{
    width:100%;
    z-index:99;
}

.projectcontainer {
    display: flex;
    width: 100%;
    position: relative;
    z-index: 6;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5rem;
}


.projects::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/projectbackground2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 80% auto;
    content: "";

}


.projects::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/projectbackground.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 60% auto;
    content: "";

}

.projectdisplay {
    width: inherit;
    display: flex;
    padding-top: 4rem;
    justify-content: center;
    position: relative;
    flex-wrap: wrap-reverse;
    height: 19rem;
    z-index: 8;
    

}

.projectdisplay .projecttext {
    width: 20rem;
    position: relative;
    z-index: 2;

}

.projectdisplay .stack {
    display: flex;
}

.projectdisplay .actions {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.projectdisplay .projecttext .smallimage img {
    display: none;
    height: auto;
    width: calc(100% + 2rem);
    margin: -0.5rem -1rem;
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-animation: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.projectdisplay .projecttext img {
    height: 30px;
    width: 30px;
    margin-right: 0.5rem;
}

.projectdisplay .projectimage img {
    height: calc(19rem + 2px);
    margin: 0;
    -webkit-filter: brightness(70%);
    -webkit-transition: all 1s ease;
    -moz-animation: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.projectdisplay .projectimage.right img {
    height: calc(19rem + 2px);
    margin: 0;
    -webkit-filter: brightness(70%);
    margin-left: 2rem;
}

.projectdisplay .projectimage img:hover {
    -webkit-filter: brightness(100%);

}

.textbox {
    border: 1px solid white;
    width: 20rem;
    font-weight: 100;
    padding: 0.5rem 1rem;
    height: 18rem;

}

.contact{
    position: relative;
    min-height: 40rem;
    margin: 5rem -13vw;
    padding: 3rem 0;
    color: rgb(33, 33, 33);
    background-color: white; 
}

.contact::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url(/misc/finalbackground.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 40% auto;
    content: "";

}

.contact::after {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:100%;
    background-image: url(/misc/thanks.png);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: auto 80%;
    content: "";
}

.contact h1{
    color: rgb(33,33,33);
}

.contact .skillcontainer{
    flex-direction: row;
}

.contact .skilldisplay{
    width:7rem;
    height:7rem;
    margin: 0 1rem;
}

.contactcontainer{
    display: flex;
    flex-direction: column;
}

.contacttext{
    flex-direction: column;
    align-self: center;
    display: flex;
    max-width: 40rem;
}

.footer{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    width: inherit;
    margin: -5rem -13vw;

}



.outercontainer{
    margin: 5rem -13vw;
 
}

.innercontainer{
    padding: 3rem 13vw 3rem 13vw;

}

.right {
    border-left: none;
}

.left {
    border-right: none;
}



@media only screen and (max-width:1225px) {
    .projectdisplay {
        height: auto;
    }


    .textbox {

        height: auto;
        border: 1px solid white;
    }

    .projectimage {
        display: none;
    }


    .projectdisplay .projecttext .smallimage img {
        display: block;
        overflow: hidden;


    }

    .projectdisplay .projecttext .smallimage img:hover {
        -webkit-filter: brightness(90%);

    }
}